h4 {
  padding-top: 20px;
}

.sample-code {
  outline: 1px solid #bbb;
  background-color: #eee;
  padding: 5px;
}

p {
  height: 100px;
  border: 1px grey solid;
  border-radius: 10px;
  padding: 10px;
  background-color: lightgoldenrodyellow;
}
