h4 {
  padding-top: 20px;
}

.sample-code {
  outline: 1px solid #bbb;
  background-color: #eee;
  padding: 5px;
}

p {
  height: 100px;
  border: 1px grey solid;
  border-radius: 10px;
  padding: 10px;
  background-color: lightgoldenrodyellow;
}

.input-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
